/* Reset margin and padding */
html, body {
    margin: 0;
    padding: 0;
    width: 100%; /* Ensure full width */
    overflow-x: hidden; /* Prevent horizontal scroll */
}

/* General styles */
* {
    font-family: "Kanit", "sans-serif";
    box-sizing: border-box;
    
}

body {
    font-size: 10px;
}

header {
    background-color:#CCFF33;
    padding: 2rem;
    width: 100%;
    padding: 0 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menuLogo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 2.5rem;
    padding-left: 1rem;
}

main.info {
    background-color:#ffffff;
    margin: 1rem;
}

p.slogan {
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: italic;
    font-size: 1.3rem;
}

h2 {
    font-size: 1rem;
}